/* ******************** */
/* VARS */

/* Colors */

$col-background:    lightgrey;
$col-highlight:     grey;
$col-highlighttext: white;
$col-maincol:       #2d5e3e;
$col-maincoltext:   white;
$col-mainsubtext:   #8AC79F;